mat-card {
    box-shadow: none !important;
}

.file-type {
    font-style: italic;
    color: #707070 !important;
}

.italic {
    font-style: italic;
    color: #707070;
    font-size: 12px;
    margin: 4px 0px;
}