<mat-card class="example-card" *ngIf="viewFile !== undefined">
  <mat-card-header>
    <mat-card-title>{{ viewFile.title }} <span class="file-type">({{ viewFile.fileType }})</span></mat-card-title>
    <mat-card-subtitle>{{ viewFile.size }}{{ viewFile.sizeType }}</mat-card-subtitle>
  </mat-card-header>
  <div  style="margin: 8px 0px;">
      <mat-chip-list>
        <mat-chip color="primary" selected *ngFor="let item of viewFile.tags">
          {{item}}
        </mat-chip>
      </mat-chip-list>
  </div>
  <mat-card-content>
    <p>
      {{ viewFile.description }}
    </p>
    <p class="italic">
      Created by {{ viewFile.createdBy.name }} on {{ viewFile.createdBy.when | date:'medium' }}
    </p>
    <p class="italic">
      Last edited by {{ viewFile.updatedBy.name }} on {{ viewFile.updatedBy.when | date:'medium' }}
    </p>  
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button 
            color="accent" 
            style="float:right;"
            [disabled]="!userCanEdit || checkedOut"
            *ngIf="!checkedOut && !thisUserCheckedOut || !userCanEdit"
            (click)="checkout(viewFile)">
      <span *ngIf="userCanEdit">CHECK OUT AND EDIT</span>
    </button>   

    <button mat-button 
            color="warn" 
            style="float:right;"
            [disabled]="!userCanEdit"
            *ngIf="!userCanEdit">
      CAN'T EDIT THIS FILE
    </button>   
    
    <button mat-raised-button 
            color="accent" 
            style="float:right;"
            *ngIf="thisUserCheckedOut"
            (click)="edit(viewFile)">
      EDIT
    </button>
    <button mat-raised-button 
            color="primary" 
            style="float:right;"
            *ngIf="thisUserCheckedOut"
            (click)="checkIn(viewFile)">
      CHECK IN
    </button>

    <section *ngIf="checkedOut">      
      <p>
        Checked out by {{ viewFile.checkedOut.by.name }}
      </p>
      <p>
        On {{ viewFile.checkedOut.by.when | date:'medium' }}
      </p>
    </section>
    <button mat-button color="warn" (click)="close()">CLOSE</button>
    <button mat-button 
            color="accent" 
            *ngIf="viewFile.version > 1"
            (click)="history(viewFile._id)">
            <mat-icon>
              history
            </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
