<div class="container">
  <div class="row" *ngIf="search">
    <div class="col-12">
      <div class="file-container">  
        <form>  
          <mat-form-field class="full-width" appearance="outline">
              <mat-label>File Title</mat-label>
              <input type="tel" matInput placeholder="File Title...">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field> 

          <mat-form-field appearance="outline">
              <mat-label>Size</mat-label>
              <input  matInput 
                      type="number"
                      placeholder="Size">
              <mat-select placeholder="Select Size Type" matSuffix>
                <mat-option *ngFor="let type of sizeTypes" [value]="type">{{type}}</mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Size Type</mat-label>
              <mat-select placeholder="Select Size Type">
                <mat-option *ngFor="let type of sizeTypes" [value]="type">{{type}}</mat-option>
              </mat-select>
            </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>File Type</mat-label>
            <mat-select placeholder="Select File Type">
              <mat-option *ngFor="let type of fileTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
              <mat-label>Filter by User</mat-label>
              <mat-select placeholder="Select User"
                          multiple>
                <mat-option *ngFor="let user of users" [value]="user">{{user.name}} ({{user.location}})</mat-option>
              </mat-select>
            </mat-form-field>  
            <mat-form-field appearance="outline">
              <mat-label>Filter by Team</mat-label>
              <mat-select placeholder="Select Team"
                          multiple>
                <mat-option *ngFor="let team of teams" [value]="team">{{team.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          <button mat-raised-button color="accent" (click)="search = !search">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!search">
    <div class="col-12">
      <mat-selection-list>
          <h3 mat-subheader>
            All Files
            <span class="fill"></span>
            <mat-icon class="search-icon" (click)="search = !search">search</mat-icon>
          </h3>
          <mat-divider></mat-divider>
        </mat-selection-list>
    </div>
  </div>
</div>