<div class="container">
  <div class="row">
    <div class="col-12" *ngIf="myFiles.length > 0">
      <mat-selection-list>
        <h3 mat-subheader>My Files</h3>
        <mat-list-option 
          *ngFor="let file of myFiles"
          (click)="showFile(file._id)" 
          class="file-list">
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>
            {{file.title}} - v{{file.version}}
            <span class="created-by">              
               - Created by {{ file.createdBy.name }}
            </span>
          </h4>
          <p mat-line>{{ file.fileType }}</p>
          <p mat-line>{{ file.size }} {{ file.sizeType }}</p>
        </mat-list-option>
        <mat-divider></mat-divider>
      </mat-selection-list>
    </div>
    <div class="col-12" *ngIf="myFiles.length === 0">
      <mat-progress-spinner class="mat-progress-spinner" [color]="color" [value]="value" [mode]="mode" ></mat-progress-spinner>
    </div>
  </div>
</div>

  