.file-container {
  form {
      display: flex;
      flex-direction: column;
    }
  }
  
  .file-container > * {
    width: 100%;
  }

  .row {
      margin-top: 20px;
  }

  .radio-group {
    display: contents;

    > * {
      margin: 8px 0px;
    }
  }