<div class="container">
  <div class="row" *ngIf="addNew">
    <div class="col-12">
      <div class="file-container" *ngIf="fileForm !== null">  
        <form [formGroup]="fileForm">          

          <mat-form-field appearance="outline" [hideRequiredMarker]="false">
            <mat-label>Title</mat-label>
            <input  matInput 
                    placeholder="Title" 
                    formControlName="title">
                    <mat-error *ngIf="title.invalid && title.touched">
                        Must have a value.
                      </mat-error>
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput 
                        placeholder="Description" 
                        formControlName="description"></textarea> 
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>File Type</mat-label>
            <mat-select placeholder="Select File Type"
                        formControlName="fileType">
              <mat-option *ngFor="let type of fileTypes" [value]="type">{{type}}</mat-option>
            </mat-select>

            <mat-error *ngIf="fileType.invalid && fileType.touched">
                Must have a value.
              </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Size</mat-label>
            <input  matInput 
                    type="number"
                    placeholder="Size" 
                    formControlName="size">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Size Type</mat-label>
            <mat-select placeholder="Select Size Type"
                        formControlName="sizeType">
              <mat-option *ngFor="let type of sizeTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tags</mat-label>
            <input  matInput 
                    type="text"
                    placeholder="Keywords"
                    #fileTags
                    name="fileTags">
            <mat-icon matSuffix (click)="addTag(fileTags.value)">add</mat-icon>
          </mat-form-field>
          <mat-chip-list >
            <mat-chip color="primary" selected (click)="removeTag(tag)" *ngFor="let item of tags">
              {{item}}
              <mat-icon>
                close
              </mat-icon>
            </mat-chip>
          </mat-chip-list>


          <mat-radio-group name="grpName" class="radio-group" formControlName="isPublic">
            <mat-label>Publicly Available?</mat-label>
            <mat-radio-button [value]=true>Public</mat-radio-button>
            <mat-radio-button [value]=false>Private</mat-radio-button>
          </mat-radio-group>

          <mat-form-field appearance="outline">
            <mat-label>Share with User</mat-label>
            <mat-select placeholder="Select User"
                        formControlName="canEdit"
                        multiple>
              <mat-option *ngFor="let user of users" [value]="user._id">{{user.name}} ({{user.location}})</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" *ngIf="teams.length > 0">
            <mat-label>Share with Team</mat-label>
            <mat-select placeholder="Select Team"
                        formControlName="fileTeams"
                        multiple>
              <mat-option *ngFor="let team of teams" [value]="team._id">{{team.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <button mat-raised-button color="accent" [disabled]="fileForm.invalid" *ngIf="!pendingEdit" style="margin-top:16px;float:right;" (click)="addFile()">Add New</button>
        <button mat-raised-button color="warn" [disabled]="fileForm.invalid" *ngIf="pendingEdit" style="margin-top:16px;" (click)="delete()">Delete</button>
        <button mat-raised-button color="accent" [disabled]="fileForm.invalid" *ngIf="pendingEdit" style="margin-top:16px;float:right;" (click)="addFile()">Update</button>
      </div>
      <div class="file-container" *ngIf="fileForm === null">
        <mat-progress-spinner class="mat-progress-spinner" *ngIf="!loaded" [color]="color" [value]="value" [mode]="mode" ></mat-progress-spinner>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      
    </div>
  </div>  
</div>

    