<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'over'"
      [opened]="false">
    <section class="head">
      <mat-toolbar><h1>Welcome back, {{ username }}</h1></mat-toolbar>
    </section>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/MyFiles']" routerLinkActive="router-link-active">
        <mat-icon>
          cloud_queue
        </mat-icon>
        My Files
      </a>
      <a mat-list-item [routerLink]="['/AllFiles']" routerLinkActive="router-link-active">
        <mat-icon>
          public
        </mat-icon>
        All Files
      </a>
      <a mat-list-item [routerLink]="['/MyTeams']" routerLinkActive="router-link-active">
        <mat-icon>
          supervised_user_circle
        </mat-icon>
        My Teams
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>File Share</span>
      <span class="fill"></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="logout()">
        <mat-icon aria-label="Logout">exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <button mat-fab 
            class="fab"
            matTooltip="Add new File"
            [routerLink]="['/File']">
      <mat-icon aria-label="Example icon-button with a heart icon">note_add</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>

