<div class="container">
  <div class="row">
    <div class="col-12" >
      <h3 mat-subheader class="subHeader">My Teams</h3>
      <mat-selection-list *ngIf="myTeams.length > 0">
        <mat-list-option 
          *ngFor="let team of myTeams"
          (click)="showTeam(team._id)" 
          class="file-list">
          <mat-icon mat-list-icon>people</mat-icon>
          <h4 mat-line>
            {{ team.name }}
          </h4>
          <h6 mat-line>
            Created by {{ team.createdBy.name }}
          </h6>
          <p mat-line>{{ team.users.length }} member(s)</p>
        </mat-list-option>
        <mat-divider></mat-divider>
      </mat-selection-list>
    </div>
    <div class="col-12" *ngIf="myTeams.length === 0">
      <mat-progress-spinner class="mat-progress-spinner" [color]="color" [value]="value" [mode]="mode" ></mat-progress-spinner>
    </div>
  </div>
</div>
