<div class="container">
  <div class="row" *ngIf="!loading">
    <div class="col-12 timeline">
      <h3 mat-subheader class="subHeader" style="padding-bottom: 0px">History for '{{ fileTitle }}'</h3>
      <h6 mat-subheader class="subHeader" style="padding-top: 0px">Created on {{ fileCreatedDate | date: 'dd/MM/yy HH:mm  ' }}</h6>
      <ul>
        <li *ngFor="let file of files; let i = index">
          <span></span>
          <div>
            <div class="title">
              <span [ngClass]="changed(files[i], files[i - 1], 'title', i)">
                {{ file.title }}
              </span> 
              <span [ngClass]="changed(files[i], files[i - 1], 'fileType', i)">
                ({{ file.fileType }})
              </span>
            </div>
            <div class="type">
              <span [ngClass]="changed(files[i], files[i - 1], 'size', i)">
                {{ file.size }}
              </span>
              <span [ngClass]="changed(files[i], files[i - 1], 'sizeType', i)">
                {{ file.sizeType }}
              </span></div>
            <div class="type">
              <p [ngClass]="changed(files[i], files[i - 1], 'description', i)">
                {{ file.description }}
              </p>
            </div>
            <div>
              <mat-chip-list>
                <mat-chip color="primary" selected *ngFor="let item of file.tags">
                  {{item}}
                </mat-chip>
              </mat-chip-list>
            </div>
          </div> 
            <span class="number">
              <span *ngIf="i > 0">
                  {{ file.updatedBy.when | date:'dd/MM/yy HH:mm' }}
              </span> 
              <span *ngIf="i === 0">
                  {{ file.createdBy.when | date:'dd/MM/yy HH:mm' }}
              </span> 
              <span></span>
            </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngIf="loading && !noFiles">
      <mat-progress-spinner class="mat-progress-spinner" [color]="color" [value]="value" [mode]="mode" ></mat-progress-spinner>
    </div>
    <div class="col-12" *ngIf="noFiles">
      <h3 mat-subheader class="subHeader">No file found for inspection.</h3>        
    </div>
</div>
